@value black, white, brand, gray-500, gray-700, gray-800 from '../style/theme.css';

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.run {
  flex: 0 0 auto;
  padding: 7px 8px 5px 8px;
  border-bottom: 1px solid var(--accent-color);
}

.activeRun {
  background-color: gray-700;
}

.left {
  border-right: 2px solid var(--accent-color);
}

.right {
  border-left: 2px solid var(--accent-color);
}

.teamName {
  flex: 1 1 64px;
  font-size: 24px;
  color: white;
  background-color: var(--accent-color);
  padding: 16px;
}
